<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POC</title>
    <style>
        #notification {
            background: black;
            color: wheat;
            padding: 1em;
            margin-bottom: 0.5em;
        }
    </style>
</head>
<body>
    {% if messages|length > 0 %}
    <div id="notification">
        
            {% for item in messages %}
                <p>{{ item }}<p>
            {% endfor %}
        
    </div>
    {% endif %}
</body>
</html>